:root{
    --bar-color: rgb(234, 234, 234);
}

body{
    background-color: rgb(215, 219, 214);
}


.green-div{
    width: 100%;
    min-height: 170px;
    background-color: rgb(0, 150, 136);
    position: absolute;
}

.content-container{
    position: relative;
    top: 40px;
    display: flex;
    height: 100vh;
    padding-bottom: 5rem;
}

.contact-container{ 
    flex-basis: 40%;  
    height: 100%;
}


.message-container{
    flex-basis: 60%;
    height: 100%;
    background-image: url(../immagini/mine.jpg);
}


.contact-list{
    overflow: auto;
    height: 100%;
}



.message-body {
    overflow: auto;   
}




.global-user{
    display: inline-block;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.owner-bar,
.sing-user{
    min-height: 100px;
}

.icon i{
    color: rgb(167, 165, 165);
    font-size: 1.5rem;
    padding: .5rem;
}

.color-top-bar{
    background-color: var(--bar-color);
}

.blue-bar-height{
    background-color: rgb(142, 218, 252);
    min-height: 100px;
}

.blue-bar i{
    color: rgb(142, 218, 252);
    background-color: white;
    font-size: 1.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 1rem;
}


.main-not{
    font-size: 1.2rem;
    color: black;
}

.alt-not{
    font-size: .9rem;
}

.alt-not a {
    color: grey;
}

.last-mex{
    color: rgb(187, 191, 196);
}

.text-mex{
    display: inline-block;
    padding: .6rem;
    border-radius: 8px;
    min-width: 300px;
}

.single-mex{
    display: flex;
    flex-direction: column;
}



.mine-mex{
    background-color: rgb(213, 249, 186);
    align-self: end;
}


.dest-mex{
    background-color: white;
    align-self: start;
}


