<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whats....no Boolzaap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <main>
            <div class="green-div"></div>
            <div class="container">

                <div class="content-container">
                    <div class="contact-container d-flex flex-column bg-white">

                        <!-- owner -->
    
                        <div class="user-container align-items-center">
    
                            <div class="owner-bar color-top-bar p-2 d-flex align-items-center">
                                <div class="owner flex-grow-1">
                                    <img class="global-user" src="./immagini/avatar_io.jpg" alt="Me">
                                    <span class="ps-1 fs-5">Sofia</span>
                                </div>
                                <div class="icon pe-2">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
    
                        <!-- blue bar -->
    
                        <div class="blue-bar fs-5 blue-bar-height d-flex align-items-center p-3 gap-3">
                            <div class="d-flex">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <span class="main-not">Ricevi notifiche di nuovi messaggi</span><br>
                                <span class="alt-not"><a href="#0">Attiva notifiche desktop</a></span>
                            </div>
                        </div>
    
                        <!-- search bar -->
    
                        <div class="search-bar color-top-bar flex-grow-0">
                            <div class="input-group flex-nowrap p-2">
                                <span class="input-group-text px-4"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="text" class="form-control py-2" placeholder="Cerca o inizia una nuova chat"
                                       v-model="searchUser">
                            </div>
                        </div>
    
                        <!-- userlist   aggiungo il ciclo v-for per stampare gli utenti  -->
                        <!-- aggiungo evento click -->
                        <!-- cambio il nome della lista contatti in modo da avere quella filtrata -->
                        
                        <div class="contact-list flex-grow-1 d-flex flex-column" >
                            <div class="sing-user d-flex p-3" v-for="singleContact in filteredContact"
                                @click="onClickUser(singleContact)">
                                    <img class="global-user" :src=" `./immagini/avatar${singleContact.avatar}.jpg `">
                                    <div class="ps-2 flex-grow-1" >
                                        <span class="ps-1 fs-5 fw-normal">{{singleContact.name}}</span><br>
                                        <span class="last-mex"> {{singleContact.messages[singleContact.messages.length - 1].message}}</span>
                                    </div>
                                    <div class="time-mex">
                                        <small>12.00</small>
                                    </div>

                            </div>
                        </div>
                    </div>
    
    
    
                    <div class="message-container d-flex flex-column">
    
                        <!-- top bar destination -->
    
                        <div class="sing-user color-top-bar p-2 d-flex align-items-center border-start mb-5">
                            <div class="owner flex-grow-0">
                                <img class="global-user" :src=" `./immagini/avatar${userContact.avatar}.jpg `" alt="Me">
                            </div>
                            <div class="flex-grow-1">
                                <div class="ps-2">
                                    <span class="fs-5">{{userContact.name}}</span><br>
                                    <span class="last-mex">Ultimo messaggio oggi alle 12:00</span>
                                </div>
                            </div>
                            <div class="icon pe-2">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
    
                        <!-- text-area -->
    
                        <div class="message-body flex-grow-1 p-5 d-flex flex-column">

                                <!-- operatore ternario per assegnare la classe css  -->
                        
                            <div class="single-mex" v-for="singleText in userContact.messages">
                                <div class="text-mex" :class="singleText.status === 'sent' ? 'mine-mex' : 'dest-mex' ">
                                    <p>{{singleText.message}}</p>
                                    <small class="time-text-area">12.00</small>
                                </div>
                            </div>
                            
                            <!-- <div class="single-mex">
                                <p class="text-mex mine-mex">RIcordati di stendere i panni</p>
                            </div>
                            
                            <div class="single-mex">
                                <p class="text-mex dest-mex" >tutto fatto</p>
                            </div> -->
                            
                        
                        
                        </div>
    
                        <!-- input text user -->
    
                        <div class="color-top-bar d-flex align-items-center flex-shrink-0 p-2">
                            <div class="icon">
                                <i class="fa-regular fa-face-smile px-4"></i>
                            </div>
                            <div class="input-group">
                                <input type="text" v-model="myMessage.message" class="form-control p-3" 
                                placeholder="Scrivi messaggio"
                                @keyup.enter="sendMessage(userContact.messages)">
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-microphone px-4"></i>
                            </div>
                        </div>
    
    
                    </div>
                </div>

                
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>

</body>

</html>